body{
    /* background: linear-gradient(to bottom, #106be2, #FFFFFF); */
    background: linear-gradient(to bottom, #1878ec 72%, #FFFFFF 160%);
    height:  100vh;
    margin: 0;
}

.centrar{
    align-self: center;
}


header{
    margin-top: 1rem;
    justify-items: center;
}

.inicio{
    justify-content: center;
}

.logo{
    height: 50px;
    width: 90px;
}

.buscador{
    border-radius: 20px;
}

.transparencia{
    background: rgb(255, 255, 255, 0.6);
    border-radius: 20px;
}

.tabla{
    background: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
}

.nav-link{
    font-weight: bold;
    color: #FFFFFF;
}


.radio{
    background: #FFFFFF;
    border-radius: 10px;
    width: 20%;
    max-width: 220px;
}


footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-content: center;
}

.footer{
    align-self: flex-end;
}

.primary-layer{
    position: absolute;
    z-index: 1;
    width: 33vw;
    height: 13vh;
}

.secondary-layer{
    position: absolute;
    z-index: 0;
    width: 33vw;
    height: 12vh;
}

.logo-sesion-header{
    border-radius: 20px;
    height: 12vh;
    width: 100vw;
}

.logo-sesion{
    border-radius: 20px;
    height: 12vh;
    width: 15vw;
}
#avion {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

#avion-fuera {
    background: darkgray;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}

.avion-dentro {
    display: grid;
    grid-template-columns: repeat(7, 25px); 
    grid-gap: 10px;
    background: #f8f9fa;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.asiento {
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ocupado{
    background-color: red;
    border-color: red;
}

.seleccionado {
    background-color: blue;
    border-color: blue;
}

.salida {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
    color: gray;
}

/* Colores para cada tipo de asiento */
.asiento.clasica {
    background-color: lightgray; /* Color para la clase 'clásica' */
}

.asiento.ejecutiva {
    background-color: lightblue; /* Color para la clase 'ejecutiva' */
}

.asiento.primera-clase {
    background-color: gold; /* Color para la clase 'primera clase' */
}

/* Clase para resaltar el asiento seleccionado */
.asiento.seleccionado.clasica {
    background-color: darkgray;
    color: white;
}

.asiento.seleccionado.ejecutiva {
    background-color: darkblue;
    color: white;
}

.asiento.seleccionado.primera-clase {
    background-color: darkgoldenrod;
    color: white;
}
/* .center-image{
    position: absolute;
    z-index: 0;
    width: 50%;
    height: 10vh;
} */